{% extends 'dashboard/layout_dashboard.html' %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/dashboard/editData.js') }}"></script>
{% endblock %}


{% block content %}

<style>
    .image-cont{
        width: 25rem;
        height:15rem;
        position: relative;
        cursor: pointer;
    }
    
    .form_gambar{
        width: 25rem;
    }
    
    .image-cont img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .image-cont .text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: darkgray;
        padding: 1rem;
    }
    
    .form_tambah_data .form_item{
        display: flex;
        flex-direction: column;
    }
</style>


<div class="form_tambah_data">
    <h1>Edit Mobil</h1>
  
    <div class="mb-3 form_item">
      <label class="form-label">Merek Mobil</label>
      <input type="text" class="form-control" id="merek"   value="{{data.merek}}">
    </div>

    <div class="mb-3 form_item">
      <label class="form-label">Type Mobil</label>
      <input type="text" class="form-control" id="type_mobil"   value="{{data.type_mobil}}">
    </div>

    <div class="mb-3 form_item">
      <label class="form-label">Plat Mobil</label>
      <input type="text" class="form-control" id="plat"   value="{{data.plat}}">
    </div>
  
    <div class="mb-3 form_item">
      <label class="form-label">Bahan Bakar</label>
      <select class="form-control" id="bahan_bakar">
        {% if data.transmissin == 'pertalite' %}
        <option value="pertalite" selected>Pertalite</option>
        <option value="matic">Pertamax</option>
        <option value="matic">Solar</option>
        {% else %}
        <option value="pertalite">Pertalite</option>
        <option value="pertamax" selected>Pertamax</option>
        <option value="solar" selected>Solar</option>
        {% endif %}
      </select>
    </div>

    <div class="mb-3 form_item form_gambar">
      <label for="">Gambar</label>
      <label for="input-file" class="border image-cont mt-2 rounded">
        <img src="{{ url_for('static', filename='Gambar/' + data.gambar) }}" alt="" id="imgPreview" class="rounded">
      </label>
      <label for="input-file" class="mt-2 p-3 btn btn-primary rounded text-center">Pilih gambar</label>
      <input type="file" accept="image/jpeg,image/png,image/png" id="input-file" value="{{ url_for('static', filename='Gambar/' + data.gambar) }}" hidden>
    </div>
  
    <div class="mb-3 form_item">
      <label class="form-label">Seat</label>
      <input type="number" class="form-control" id="seat"  value="{{data.seat}}">
    </div>
  
    <div class="mb-3 form_item">
      <label class="form-label">Transmisi</label>
      <select class="form-control" id="transmisi">
        {% if data.transmissin == 'manual' %}
        <option value="manual" selected>Manual</option>
        <option value="matic">Matic</option>
        {% else %}
        <option value="manual">Manual</option>
        <option value="matic" selected>Matic</option>
        {% endif %}
      </select>
    </div>
  
    <div class="mb-3 form_item">
      <label class="form-label">Harga Sewa</label>
      <input type="text" class="form-control" id="harga" value="{{data.harga}}">
    </div>
  
    <button type="button" class="btn btn-primary" onclick="updateData('{{data.id_mobil}}')">Simpan</button>
  
  </div>
  

<!-- <p>{{data.item}}</p>
<p>{{data.lama_rental}}</p>
<p>{{data.end_rent}}</p>

<p>pelanggan sudah mengambil mobil jika sudah tekan konfirmasi</p>
<button type="button" class="btn btn-primary" data-bs-toggle="button" onclick="changeStatusMobil()">
    Button
</button> -->


{% endblock %}
