{% extends 'dashboard/layout_dashboard.html' %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/dashboard/tambahdata.js') }}" type="text/javascript"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/tambahdata.css') }}">
{% endblock %}

{% block content %}
<h2 class="text-primary px-4 m-0">Tambah Data Mobil</h2>

<div class="form_tambah_data p-4">
  <div class="mb-3 form_item">
    <label class="form-label">Merek Mobil</label>
    <input type="text" class="form-control" id="merek" placeholder="">
  </div>


  <div class="mb-3 form_item">
    <label class="form-label">Type Mobil</label>
    <input type="text" class="form-control" id="type_mobil" placeholder="" required>
  </div>


  <div class="mb-3 form_item">
    <label class="form-label">Nomor Plat</label>
    <input type="text" class="form-control" id="plat" placeholder="">
  </div>

  <div class="mb-3 form_item">
    <label class="form-label">Bahan Bakar</label>
    <select class="form-control" id="bahan_bakar">
      <option value="pertalite">Pertalite</option>
      <option value="pertamax">Pertamax</option>
      <option value="solar">Solar</option>
    </select>
  </div>

  <div class="mb-3 form_item form_gambar">
    <label for="">Gambar</label>
    <label for="input-file" class="border image-cont mt-2 rounded">
      <img src="" alt="" id="imgPreview" hidden class="rounded">
    </label>
    <label for="input-file" class="mt-2 p-3 btn btn-primary rounded text-center">Pilih gambar</label>
    <input type="file" accept="image/jpeg,image/png,image/png" id="input-file" hidden>
  </div>

  <div class="mb-3 form_item">
    <label class="form-label">Seat</label>
    <input type="number" class="form-control" id="seat" placeholder="">
  </div>

  <div class="mb-3 form_item">
    <label class="form-label">Transmisi</label>
    <select class="form-control" id="transmisi">
      <option value="manual">Manual</option>
      <option value="matic">Matic</option>
    </select>
  </div>

  <div class="mb-3 form_item">
    <label class="form-label">Harga Sewa</label>
    <input type="text" class="form-control" id="harga" placeholder="">
  </div>

  <button type="button" class="btn btn-primary" onclick="addData()">Tambah</button>

</div>


{% endblock %}